doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 Welcome to JADE Template 
        hr
        h2 #{ companyname } 
        if registereduser
            h3 Hello Registered User 
        else 
            h3 Hello Guest
        hr
        form(action="#", method="post")
            label(for="nhero") Add New Hero 
            input(type="text", name="nexthero")
            button(type="submit") Add Hero  
        ol
            each hero in heroes
                li= hero