<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to EJS Template</h1>
    <%= companyname %>
    <hr>
    <% if (registereduser) { %>
        <h2> Hello Registered User </h2>
    <% }else{%>
        <h2> Hello Guest </h2>
    <% } %>
    <form action="#" method="post">
        <label for="nhero">Add New Hero</label>
        <input id="nhero" name="nexthero">
        <button>Add Hero</button>
    </form>
    <hr/>
    <ol>
        <% for(let i = 0; i < heroes.length; i++){ %>
          <li>  <%= heroes[i]  %> </li>
        <% } %>
    </ol>
</body>
</html>